
.countdown-parent{
    position: absolute;
    left: -32%;
    top: 63.9%;
    overflow: hidden;
    height: 219%;
    width: 329.7%;
    font-size: 774%;
    text-align: center;
}

.text-parent{
    position: absolute;
    left: -51.7%;
    top: 8.5%;
    overflow: hidden;
    height: 219%;
    width: 329.7%;
    font-size: 314%;
    text-align: center;
}


